.options-panel {
    width: 500px;
    height: 750px;
    overflow-y: auto;

    background-color: rgba(240, 240, 240, .7);
    backdrop-filter: blur(5px);

    border-radius: 1%;
    filter: drop-shadow(5px 5px 20px rgba(0, 0, 0, 0.25));
    z-index: 1000;
}

.options-panel hr {
    border: none;
    border-top: 1px solid #aaa;
    margin: 20px 50px;
}

.options-panel h1 {
    color: rgb(40, 40, 40);
    text-align: center;
}

.options-panel p {
    color: rgb(40, 40, 40);
    margin: 5px;
    text-align: center;
}

.options-panel * {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
}

.options-timer-header {
    font-size: 24px;
    margin: 10px;
    text-align: center;
}

.options-timer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.options-timer button {
    width: 70px;
    height: 30px;
    margin-right: 10px;
    margin-left: 10px;

    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 2px;
    text-align: center;
}

.options-timer-display {
    margin: 5px;
}