@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&family=Space+Grotesk:wght@300..700&display=swap');

body {
  margin: 0px;
}

.optionsBlock {
    position: fixed;
    margin: 0px;
    padding: 0px;
    top: 0;

    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background-color: rgba(10, 10, 10, 0.4);
    z-index: 999;
}

.headerBlock {
  margin-bottom: 50px;

  width: 100vw;
  height: 80px;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 2px solid rgb(200, 200, 200);
  background-color: #e0e0e0;
}

.logo {
  width: 75px;
  height: 75px;

  position: absolute;
  left: 0;
  margin-left: 20%;
}
.logo:hover {
  cursor: pointer;
}

.heroBlock {
  display: flex;
  justify-content: center;
  align-items: center;
}

.heroContent {
  width: 1200px;
  height: 700px;

  border: 2px solid rgb(180, 180, 180);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heroContent > * {
  transform: translateY(-50px);
}

.heroContent > p {
  font-family: "Shadows Into Light", cursive;
  font-size: 22px;
}

.decorText.p1 {
  transform: translate(-500px, -85px);
}

.decorText.p2 {
  transform: translate(480px, 80px);
}

.titleText {
  font-family: "Space Grotesk", sans-serif;
  font-size: 24px;

  margin: 10px;
  margin-top: 20px;
  transform: translate(0px, -10px);

  color: rgb(54, 54, 54);
}

.heroContent > input {

  outline: none;
}

.progressBar[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  outline: none;

  margin-top: 30px;

  width: 300px;
  height: 8px;
  background: rgb(200, 200, 200);
  border-radius: 10px;
}