@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&family=Space+Grotesk:wght@300..700&display=swap');

#root {
  display: flex;
  flex-direction: column;
  align-items: center;

  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

body {
  margin: 0px;
}

.options-block {
    position: fixed;
    margin: 0px;
    padding: 0px;
    top: 0;

    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background-color: rgba(10, 10, 10, 0.4);
    z-index: 999;
}

.header-block {
  margin-bottom: 50px;

  width: 100vw;
  height: 80px;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 2px solid rgb(200, 200, 200);
  background-color: #e0e0e0;
}

#logo {
  width: 75px;
  height: 75px;

  position: absolute;
  left: 0;
  margin-left: 20%;
}
#logo:hover {
  cursor: pointer;
}

.hero-block {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-content {
  width: 1200px;
  height: 700px;

  border: 2px solid rgb(180, 180, 180);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-content > * {
  transform: translateY(-50px);
}

.hero-content > p {
  font-family: "Shadows Into Light", cursive;
  font-size: 22px;
}

.decor-text.p-1 {
  transform: translate(-500px, -85px);
}

.decor-text.p-2 {
  transform: translate(480px, 80px);
}

.title-text {
  font-family: "Space Grotesk", sans-serif;
  font-size: 24px;

  margin: 10px;
  margin-top: 20px;
  transform: translate(0px, -10px);

  color: rgb(54, 54, 54);
}

.hero-content > input {

  outline: none;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  outline: none;

  margin-top: 30px;

  width: 300px;
  height: 8px;
  background: rgb(200, 200, 200);
  border-radius: 10px;
}

button {
  margin: 5px;
}