:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: #e0e0e0;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: flex;
  flex-direction: column;
  align-items: center;

  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

body {
  margin: 0px;
  width: 100vw;
  height: 100vh;
}

button {
  margin: 5px;
}