.control-btn {
  width: 100px;
  height: 30px;
  margin-right: 10px;
  margin-left: 10px;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 2px;
  text-align: center;
}